/* GENERAL */ 
*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5em;;
}
body{
    margin:0;
}
a{
    text-decoration:none;
    color:#FFF;
    transition:color 0.3s;
}
a:hover{
    color:rgba(255, 255, 255, 0.5);
}
textarea{
    min-height:150px!important;
    max-width:80%;
    min-width:80%;
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to top, #fe4f4f, #fa3131, #fe0000);
    border-radius:3px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(to top, #ca4b4b, #bd2525, #c40101);
}
/* HEADER */ 
header{
    border-bottom: 2px solid #FF0000;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
header .container-logo a{
    position:relative;
    transition: opacity 0.3s;
}
header .container-logo a:hover{
    opacity:0.7
}
header .logo{
    width: 75px;
    margin-left: 150px;
}
header .container-logo a::after{
    content: 'Accueil';
    color:#333;
    position:absolute;
    top:-50%;
    text-transform:uppercase;
    left:80%;
    font-weight:500;
    letter-spacing: 1px;
    opacity:0;
    transition: .3s;
}
header .container-logo a:hover::after{
    left:110%;
    opacity:1;
}
.gbaf-title{
    font-weight: 100;
    font-size: 30px; 
    display:inline-block;
    margin-left: 50px;
    padding:20px;
}
.container-user a{
    display:flex;
    color:#333;
    transition: opacity 0.3s;
}
.container-user a:hover{
    opacity:0.7;
}
.user-picture{
    width:25px;
    margin-right: 10px;
}
.user-info{
    margin-right:150px; 
}
/* DESCRIPTION */ 
.description{
    color:#FFF;
    width:100%;
    min-height:200px;
    padding: 20px 20px;
    border-bottom: 2px solid #AAA;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)),
                bottom url('../img/illustration.jpg');
    background-size:cover;
    background-attachment: fixed;
}

/* CARD */ 

.card-form{
    background-color:#EEE;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
    padding: 10px;
    width: 45vw;
    border-radius:3px;
    margin: 0px auto;
    margin-top: 5vh;
}

.card{
    background-color:#EEE;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
    padding: 10px;
    width: 80vw;
    border-radius:3px;
    margin: 125px auto;
}
.listing{
    background-color:#FFF;
    box-shadow:none;
}
.add-comment{
    width:50vw;
}

/* ACTEUR ACCUEIL */

.acteur{
    display:flex;
    background-color: #EEE;
    padding:10px;
    border-radius:3px;
    margin: 10px;
    margin-bottom:20px;
    position:relative;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.acteur img{
    max-width:20%;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #AAA;
}
.acteur h3{
    color:#333;
    text-transform: uppercase;
}
.acteur .content{
    width:60%;
}
.personal-link-acteur{
    color:#FF0000;
}
.personal-link-acteur:hover{
    color:rgba(255, 0, 0, 0.7);
}
.acteur .link{
    position:absolute;
    bottom:5px;
    right:10px;
}
.acteur .link a{
    border : 2px solid #333;
    padding:7px;
    border-radius:3px; 
    color:#333;
    font-weight:bold;
    transition: 0.3s;
    font-size:12px;
}
.acteur .link a:hover{
    background-color: #FF0000;
    border-color: #FF0000;
    color:#FFF;
    font-weight: bold;

}

/* ACTEUR PAGE */ 

.card .logo-acteur{
    display:block;
    margin: 10px auto;
    width:50%;
    border-radius:3px;
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
.comment-heading{
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height:75px;
}
.comment-heading h5{
    font-size:30px;
    text-transform: capitalize;
    margin: 10px 10px!important;
}
.new-comment{
    color:#333;
    font-size:15px;
    text-transform: uppercase;
    border: 1px solid #333;
    margin-right: 50px;
    padding:10px; 
    border-radius:3px; 
    text-align:center;
    font-weight:bold;
}
.new-comment:hover{
    color:#FF0000;
    border-color:#FF0000;
}
.container-button-comment{
    display:flex;
}
.like{
    display:flex;
    align-items: center;
    margin-right:30px;
}
.like a{
    margin-right:5px;
    transition: opacity 0.3s;
}
.like a:hover{
    opacity:0.5;
}
.dislike{
    display:flex;
    align-items: center;
    margin-right:5px;
}
.dislike a{
    margin-right:5px;
    transition: opacity 0.3s;
}
.dislike a:hover{
    opacity:0.5;
}
.voted a:hover{
    opacity:1!important;
}
.comment-like-dislike{
    width:20px;

}
.comment{
    background:#DDD;
    padding:1px 20px;
    border-radius:3px; 
    margin:10px 0;
}
.comment-name{
    font-size: 18px; 
    text-transform: uppercase;
    font-weight: bold;
}
.comment-date{
    font-size:12px;
    opacity:0.7;
}
.comment-message{
    font-size:16px;
}

/* FORM */

.form div{
    display:flex;
    justify-content: space-between;
    margin-bottom:10px;
}
.form h3{
    color:#FF0000; 
    font-weight:200; 
    font-size:35px;
    text-align:center;
    margin-top:0;
    text-transform:uppercase;
}
.form label{
    margin-top:5px;
    font-size:18px;
}
.required{
    color:#FF0000;
    font-weight:bold;
}
.form input, .form textarea{
    height:35px;
    font-size:17px;
    border: 2px solid #333;
    border-radius:3px;
    transition: border 0.3s;
    padding-left:5px;
    width:50%;
}
.form input:focus, .form textarea:focus{
    border-color: #bdbdbd;
    outline: none;
}
.form button{
    display:block;
    margin:0 auto;
    margin-top:40px;
    background-color:transparent;
    color:#333;
    border-radius: 3px;
    border: 2px solid #333;
    padding: 10px;
    font-weight:bold;
    transition: 0.3s;
}
.form button:hover{
    background-color: #FF0000;
    border-color:#FF0000;
    color:#FFF;
    cursor: pointer;
}
.form p{
    font-weight: bold;
    text-align:center;
}
.link-button{
    color:#FF0000;
    padding:6px;
    transition: 0.3s;
    border-radius:3px;
}
.link-button:hover{
    background-color:#FF0000;
    color:#FFF;
}
.success{
    color:#43a501;
    padding:10px;
}
.error{
    color:#a80202;
    padding:10px;
}

/* FOOTER */ 

footer{
    border-top: 2px solid #AAA;
    background-color:#FF0000; 
    color:#FFF;
    text-align:center;
    padding:7px;
}
.fixed-footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}

/* TABLETTE */ 

@media screen and (max-width:1350px){
    /* HEADER */ 
    header .logo{
        margin-left:40px;
    }
    .user-info{
        margin-right: 40px;
    }
    /* FORMULAIRE */ 
    .card-form{
        width:90vw;
    }
    textarea{
        max-width:75%;
        min-width:75%;  
    }
    .form h3{
        font-weight:bold;
        font-size:25px;
    }
    .form label{
        font-size:16px;
    }
    .form input{
        font-size:16px;
    }
    /* ACTEUR ACCUEIL */ 
    .acteur img{
        max-width:25%;
    }
    .acteur h3{
        font-size:13px;
        margin-top:0px;
    }
    .acteur .content{
        font-size:11px;
        width:50%;
    }
    /* ACTEUR PAGE */ 

}

/* TRANSITION TABLETTE - MOBILE */ 

@media screen and (max-width:820px){
    /* HEADER */ 
    .gbaf-title{
        font-size:18px;
    }
    /* ACTEUR PAGE */
    .card .logo-acteur{
        width:80%;
    }
    .new-comment{
        padding:5px;
    }
    .comment-heading h5{
        font-size:20px;
        margin:20px;
    }
    .comment-heading{
        display:block;
    }
    .comment-name{
        font-size:15px;
    }
}

/* MOBILE */ 
@media screen and (max-width:450px){
    /* HEADER */
    .gbaf-title{
        font-size:15px;
    }
    .container-user{
        font-size:13px;
    }
    .container-user a{
        height:42px!important;
    }
    .user-picture{
        width:17px;
    }
    header .logo{
        width:60px;
    }
    header .container-logo a::after{
        font-size: 11px; 
    }
    /* FORMULAIRE */ 
    .card-form{
        width:95vw;
    }
    .form h3{
        font-weight:bold;
        font-size:20px;
    }
    .form label, .form .question{
        font-size:13px;
    }
    .form input{
        height: 25px;
        font-size:13px;
    }
    textarea{
        max-width:65%;
        min-width:65%;
    }
    .form button{
        padding:6px;
    }
    /* ACTEUR ACCUEIL */ 
    .card{
        margin: 50px auto;
    }
    .acteur{
        display:block;
    }
    .acteur img{
        max-width:90%;
        display:block;
        margin: 10px auto;
    }
    .acteur .content{
        width:95%;
        padding-bottom:30px;
    }
    .acteur .link a{
        padding:5px;
        font-size:10px;
    }
    /* ACTEUR PAGE */ 
    .card{
        width:90%;
    }
    .card .logo-acteur{
        width:80%;
    }

    .new-comment{
        padding:5px;
    }
    .comment-heading h5{
        font-size:20px;
        margin:20px;
    }
    .comment-heading{
        display:block;
    }
    .comment-name{
        font-size:15px;
    }
}

/* VERTICAL RESPONSIVE FORMULAIRE */ 

@media screen and (max-height:790px){
    .card-form{
        margin:2vh auto;
    }
    .form h3{
        font-size:25px;
    }
    .form input{
        height: 30px;
        font-size:16px;
    }
    .form label{
        font-size:17px;
    }
}